.podcast-nav{
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.podcast-nav span{
    font-size: 1.7rem;
    font-weight: bolder;
}
.nav-buttons{
    display: flex;
    gap: 1.4rem;
}
.nav-buttons button{
    color: whitesmoke;
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-icon{
    height: 2rem;
    display: none
}

@media only screen and (max-width: 610px) {
    .nav-buttons{
        display: none;
        position: absolute;
        flex-direction: column;
        gap: .5rem;
        right: 1rem;
        top: 4.5rem;
        padding: .4rem;
        border: 1px solid;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0));
        backdrop-filter: blur(20px);
        border-radius: 1rem;
        z-index: 1;
    }
    .menu-icon{
        display: block;
    }
}